#countCircle {
    display: none;
    position: relative;
    top: -20px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: clamp(1.5rem, 1.2286rem + -0.1429vw, 1.2rem);
    height: clamp(1.5rem, 1.2286rem + -0.1429vw, 1.2rem);
    text-align: center;
    line-height: 25px;
    font-size: 12px;
}
