/* ================================ */
/* CONTAINER */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  z-index: 9999;

  display: flex;
  flex-direction: row;
}

/* ================================ */
/* LOGO */
.logo-container {
  position: relative;
  top: 0;
  left: 0;
  width: calc((100vw / 12) * 3);
  /* width: 25%; */
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc((100vw / 100) * 2.5);
  color: var(--light-blue);
  gap: 5%;
}

#brand {
  font-size: clamp(0.7rem, 0.5rem + 1.2vw, 4rem);
  text-shadow: 0px 0px 10px var(--light-blue);
}

.logo-btn {
  width: clamp(2rem, 1.5714rem + 2.1429vw, 5rem);
  aspect-ratio: 1;
}
.logo-btn > img {
  width: 100%;
  aspect-ratio: 1;
}
/* ================================ */
/* STATUS BAND */
.status-container {
  width: 50%;
  color: white;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.status-container > div {
  text-align: center;
  width: 100%;
  height: 50%;
  padding: 2%;

  font-size: clamp(0.625rem, 0.3167rem + 0.7396vw, 1.5rem);
}

.status-no-frame {
  display: flex;
  align-items: center;
  justify-content: right;
  color: var(--light-blue);
  text-transform: uppercase;
  font-size: clamp(0.5rem, 0.4286rem + 0.3571vw, 1rem);
}

.status-frame {
  letter-spacing: -0.2px;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(0.5rem, 0.4286rem + 0.3571vw, 1rem);
  font-weight: 600;
  border-radius: 320px;

  text-shadow: 1px 1px 0 #212121;
  padding-left: 1.4rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #141414,
    inset -0.2rem -0.2rem 0.5rem #212121;
  background: none;
  color: white;

  display: flex;
  align-items: center;
  justify-content: left;
  text-transform: uppercase;
}

/* AGV Number */
/* ======================= */

.agv-number-container {
  width: 15%;
  color: white;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 3%;
}

.agv-number-container > div {
  text-align: center;
  width: 100%;
  height: 50%;

  font-size: clamp(0.625rem, 0.3167rem + 0.7396vw, 1.5rem);
}

.agv-number-label {
  display: flex;
  align-items: center;
  justify-content: right;
  color: var(--light-blue);
  text-transform: uppercase;
  font-size: clamp(0.5rem, 0.4286rem + 0.3571vw, 1rem);
}

#agv-number {
  letter-spacing: -0.2px;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(0.7rem, 0.7286rem + 0.5571vw, 1rem);
  font-weight: 600;
  border-radius: 320px;

  text-shadow: 1px 1px 0 #212121;
  padding: 0.8rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #141414,
    inset -0.2rem -0.2rem 0.5rem #212121;
  background: none;
  color: white;

  display: flex;
  align-items: center;
  justify-content: left;
  text-transform: uppercase;
}

/* ================================ */
/* MANUAL BUTTON */
.manual-container {
  width: calc((100vw / 12) * 1);
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: clamp(0.4375rem, 0.2046rem + 0.5587vw, 0.875rem);
}
#manual-btn {
  width: 80%;
  height: 80%;
  background-color: var(--grey);
  box-shadow: var(--box-shadow);
  border: 2px solid var(--black);
  cursor: pointer;
  /* fix bug on touch */
  margin-right: calc((100vw / 100) * 2.5);
  aspect-ratio: 1;
}

#manual-btn:hover {
  color: var(--light-blue);
}

#command-btn {
  width: 80%;
  height: 80%;
  background-color: var(--grey);
  box-shadow: var(--box-shadow);
  border: 2px solid var(--black);
  cursor: pointer;
}
#command-btn:hover {
  color: var(--light-blue);
}
/* ================================ */
/* MANUAL CONTAINER */
.offcanvas-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.offcanvas {
  width: 300px !important;
}

.container-manual-btn {
  position: absolute;
  top: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90px;
}

/* ================================ */
@media screen and (max-width: 700px) {
  .offcanvas {
    width: 240px !important;
  }
  .logo-btn {
    width: 25px;
    margin-top: 10px;
  }

  .manual-container {
    margin-top: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-height: 400px) {
  .container-manual-btn {
    height: 70px;
  }
  .manual-container {
    margin-top: 1px;
    margin-right: 10px;
  }
}
