/* ================================ */
/* CONTAINER */

#navbar {
  position: fixed;
  top: 10vh;
  left: 0;
  height: 90vh;
  width: calc(100vw / 12);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-dark {
  border-right: solid 1px var(--light-grey);
}

/* ================================ */
/* PAGE BUTTONS */
.page-btn {
  background: var(--gradient-bg-btn);
  box-shadow: var(--box-shadow);
  border: 2px solid var(--black);
  border-radius: 6px;
  width: clamp(2rem, 0.1rem + 5vw, 5rem);
  aspect-ratio: 1;
  cursor: pointer;
  font-size: clamp(0.4375rem, 0.2046rem + 0.5587vw, 0.875rem);
}
.page-btn > img {
  width: clamp(1.2rem, 1.2286rem + -0.1429vw, 1rem);
  aspect-ratio: 1;
}
.selected {
  box-shadow: var(--box-shadow-selected);
}
.selected img {
  filter: var(--filter-blue);
}

/* ================================ */
/* LOGIN BUTTON */
.login-btn {
  width: clamp(2rem, 0.1rem + 5vw, 5rem);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--grey);
  box-shadow: var(--box-shadow);
  border: 2px solid var(--black);
  cursor: pointer;
}

.login-btn:hover {
  color: var(--light-blue);
}
.login-btn > img {
  width: clamp(1.5rem, 1rem + 1vw, 3rem);
  padding-top: 0.2rem;
  padding-right: 0.2rem;
}

.profile {
  letter-spacing: -0.2px;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(0.5rem, 0.4286rem + 0.3571vw, 1rem);
  font-weight: 600;
  border-radius: 320px;
  padding: 0.5rem 1rem;

  text-shadow: 1px 1px 0 #212121;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #141414,
    inset -0.2rem -0.2rem 0.5rem #212121;
  background: none;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

#profileIcon {
  width: clamp(0.8rem, 1rem + 1vw, 3rem);
  margin: 0.5rem 0.5rem;
  filter: var(--filter-blue);
}

/* ================================ */

@media screen and (max-width: 700px) {
  .page-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page-btn > img {
    width: 14px !important;
  }
  .login-btn {
    width: 38px !important;
    height: 38px !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-btn > img {
    width: 14px !important;
  }
}
