.container-sensors-info{
    flex: 50%;
    border: solid 1px grey;

}

.container-machine-info{
    display: flex;
    width: 100%;
    gap: 10%;
    padding-top: 30px;
}
.text-info{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-size: clamp(0.5rem, 0.4286rem + 0.3571vw, 1rem);
}

.shuttle-img{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.machine-img{
    width: 100%;
    aspect-ratio: 2.3;
    position: relative;
}
.container-go-position{
    width: 100%;
    height: 40%;
    border-top: solid var(--light-grey) 1px;

    display: flex;
    flex-direction: row;
}


.sensor{
    height: clamp(0.625rem, 0.2923rem + 0.7981vw, 1.25rem);
    aspect-ratio: 1;
    border-radius: 50%;
    background: grey;
    border: solid 1px black;
    text-align: center;
    font-size: clamp(0.375rem, 0.1754rem + 0.4789vw, 0.75rem);
}

.green{
    background: green;
}
.triangle-up-green{
    width: 0;
    height: 0;
    border-left: calc(clamp(0.625rem, 0.2923rem + 0.7981vw, 1.25rem)/2) solid transparent;
    border-right: calc(clamp(0.625rem, 0.2923rem + 0.7981vw, 1.25rem)/2)  solid transparent;
    border-bottom: clamp(0.625rem, 0.2923rem + 0.7981vw, 1.25rem) solid green; 
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: calc(clamp(0.625rem, 0.2923rem + 0.7981vw, 1.25rem)/2) solid transparent;
    border-right: calc(clamp(0.625rem, 0.2923rem + 0.7981vw, 1.25rem)/2)  solid transparent;
    border-bottom: clamp(0.625rem, 0.2923rem + 0.7981vw, 1.25rem) solid grey; 
}

.triangle-down-green {
    width: 0;
    height: 0;
    border-left: calc(clamp(0.625rem, 0.2923rem + 0.7981vw, 1.25rem)/2) solid transparent;
    border-right: calc(clamp(0.625rem, 0.2923rem + 0.7981vw, 1.25rem)/2)  solid transparent;
    border-top: clamp(0.625rem, 0.2923rem + 0.7981vw, 1.25rem) solid green; 
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: calc(clamp(0.625rem, 0.2923rem + 0.7981vw, 1.25rem)/2) solid transparent;
    border-right: calc(clamp(0.625rem, 0.2923rem + 0.7981vw, 1.25rem)/2)  solid transparent;
    border-top: clamp(0.625rem, 0.2923rem + 0.7981vw, 1.25rem) solid grey; 
}

.triangle-left {
    width: 0;
    height: 0;
    border-top: calc(clamp(0.625rem, 0.2923rem + 0.7981vw, 1.25rem)/2) solid transparent;
    border-bottom: calc(clamp(0.625rem, 0.2923rem + 0.7981vw, 1.25rem)/2)  solid transparent;
    border-right: clamp(0.625rem, 0.2923rem + 0.7981vw, 1.25rem) solid green; 
}

.triangle-left {
    width: 0;
    height: 0;
    border-top: calc(clamp(0.625rem, 0.2923rem + 0.7981vw, 1.25rem)/2) solid transparent;
    border-bottom: calc(clamp(0.625rem, 0.2923rem + 0.7981vw, 1.25rem)/2)  solid transparent;
    border-right: clamp(0.625rem, 0.2923rem + 0.7981vw, 1.25rem) solid grey; 
}

.triangle-right-green {
    width: 0;
    height: 0;
    border-top: calc(clamp(0.625rem, 0.2923rem + 0.7981vw, 1.25rem)/2) solid transparent;
    border-bottom: calc(clamp(0.625rem, 0.2923rem + 0.7981vw, 1.25rem)/2)  solid transparent;
    border-left: clamp(0.625rem, 0.2923rem + 0.7981vw, 1.25rem) solid green; 
}

.triangle-right {
    width: 0;
    height: 0;
    border-top: calc(clamp(0.625rem, 0.2923rem + 0.7981vw, 1.25rem)/2) solid transparent;
    border-bottom: calc(clamp(0.625rem, 0.2923rem + 0.7981vw, 1.25rem)/2)  solid transparent;
    border-left: clamp(0.625rem, 0.2923rem + 0.7981vw, 1.25rem) solid grey; 
}

#BabyOnBoard{
    position: absolute;
    top: 35%;
    left: 35%;
}
#BabyLimitLeft{
    position: absolute;
    top: 40%;
    left: 20%;
}
#BabyLimitRight{
    position: absolute;
    top: 15%;
    left: 33%;   
}

#ModeSwitch{
    position: absolute;
    top: 0;
    left: 7%;   
}

#PalletStopLeft{
    position: absolute;
    top: 30%;
    left: 20%;  
}

#PalletStopRight{
    position: absolute;
    top: 10%;
    left: 30%;   
}

#PalletLimitLeft{
    position: absolute;
    top: 48%;
    left: 16%;   
}

#PalletLimitRight{
    position: absolute;
    top: 6%;
    left: 37%;    
}
#btn_Charger{
    position: absolute;
    top: 50%;
    left: 37%; 
}


.flex-container {
    display: flex;
    flex-direction: row;
    height: 60%;
  }
  
  .flex-item-left {
    background-color: transparent;
    padding: clamp(0.0625rem, -1.235rem + 3.1125vw, 2.5rem);
    flex: 50%;
  }
  
  .flex-item-right {
    background-color: transparent;
    padding: 10px;
    padding-left: 50px ;
    flex: 50%;
    text-align: left;
    color: white;
    font-size: clamp(0.625rem, 0.1592rem + 1.1173vw, 1.5rem);
  }

  .container-sector-go{
    flex: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.btn_cmd_container-custom{
    width: 50%;
    height: 50%;
    
}

.container-sector-go-custom{
    border-right: solid 1px var(--light-grey);
}

.container-sector-go-custom>h4{
    color: white;
    font-size: clamp(0.625rem, 0.2923rem + 0.7981vw, 1.25rem);
}

  #set-logial-position{
    color: var(--light-blue);
    text-shadow: var(--text-shadow-blue);
    font-size: clamp(0.625rem, 0.2923rem + 0.7981vw, 1.25rem);
    font-weight: 600;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  #set-position{
    color: var(--light-blue);
    text-shadow: var(--text-shadow-blue);
    font-size: clamp(0.625rem, 0.2923rem + 0.7981vw, 1.25rem);
    font-weight: 600;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .selection-btn{
    width: clamp(6.25rem, 4.5865rem + 3.9904vw, 9.375rem);
    font-size: clamp(0.625rem, 0.2923rem + 0.7981vw, 1.25rem);
  }

  #btn_GO{
    font-size: clamp(0.625rem, -0.0404rem + 1.5962vw, 1.875rem);
  }

  .status-no-frame-custom{
    font-size: clamp(0.375rem, -0.0908rem + 1.1173vw, 1.25rem);
  }

 .btn_form_custom{
    height: clamp(1.25rem, 0.9173rem + 0.7981vw, 1.875rem);
    width: clamp(3.125rem, -0.202rem + 7.9808vw, 9.375rem);
  }

  #setDirLogicalPosition_Section2{
    font-size: 20px;
    color: white;
  }