#title {
  color: white;
  display: flex;
  justify-content: center;
  font-size: clamp(1.5rem, 5vw, 2rem);
}

#setting-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;
  color: white;
  gap: 5%;
}

.min_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 5%;
  width: 60%;
}

#Minimum-level-input,
#Maximum-level-input {
}

#setting-form {
  width: 25%;
}

#setting-label {
  width: 50%;
}

.max_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 5%;
  width: 60%;
}

#Maximum-level-value,
#Minimum-level-value {
  color: var(--light-blue);
}



@media screen and (max-width: 1100px) {
    #setting-section {
        padding: 10px;
    }
    
    .min_container {
        width: 80%;
        gap: 5%;
    }
    
    .max_container {
        width: 80%;
        gap: 5%;
    }

}